.main{
    border-top: 200px solid white;
    max-width: 1280px;
    margin: 0 auto;
}
.toppage{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.titlew1{
    padding-top: 10px;
    width: 470px;
    font-size: 27px;
    font-weight: bold;
}
.titlew2{
    padding-top: 10px;
    width: 400px;
    font-size: 25px;
    font-weight: bold;
}
.subtitlew1{
    font-weight: lighter;
    padding-top: 12px;
    padding-bottom: 10px;
    width: 470px;
    font-size: 16px;
}
.subtitlew2{
    font-weight: lighter;
    padding-top: 12px;
    padding-bottom: 10px;
    width: 400px;
    font-size: 16px;
}

.publisher{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    align-items: center;
    justify-content: space-between;
    width:  170px;

}
.writer, .date{
    font-size: 15px;
    font-weight: lighter;
    padding: 0;
    flex-wrap: nowrap;
}
.subline{
    padding-top: 30px;
    width: 470px;

}

.firstcolumn{

    display: flex;
    flex-direction: column;
    width: 40%;
  }

.secondcolumn{

    display: flex;
    flex-direction: column;
    width: 33%;

}
.ImageArticle{
    display: flex;
    flex-direction: column;
    width: 33%;
}
.Articlebottom{
    font-size: 25px;
    font-weight: bold;
    padding-top: 15px;
    border-top: black 1px solid;

}

.thelatest{
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    width: 25%;
}
.firstbox{
    font-family: "Arial";
    padding-top: 10px;
    font-size: 27px;
    height: 35px;
    width: 100%;
    border-top: black 3px solid;
}
.box{
    padding-top: 15px;
    height:70px;
    width: 100%;
    border-bottom: black 1px solid;
}

.listblock{
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 470px;
}

.text{
    flex-wrap: wrap;
    padding-left: 15px;
    font-size: 15px;
}


.blocknews{
    display: flex;
    flex-direction: column;
}

