.footer{
    background-color: #eee;
    padding: 22px 120px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis:10%;
}
/* CSS for desktop */
.footer{
    background-color: #eee;
    padding: 22px 120px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis:10%;
}

/* CSS for tablet */
@media (max-width: 768px) {
    .footer{
        padding: 22px 60px;
    }

    .footer-container{
        flex-direction: column;
    }

    .footer-section{
        flex-direction: column;
        flex-basis: auto;
    }
}

/* CSS for mobile */
@media (max-width: 480px) {
    .footer{
        padding: 22px 30px;
    }

    .footer-container{
        flex-direction: column;
    }

    .footer-section{
        flex-direction: column;
        flex-basis: auto;
    }
}
/* CSS for desktop */
.footer{
    background-color: #eee;
    padding: 22px 120px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis:10%;
}

    /* CSS for tablet */
    @media (max-width: 768px) {
        .footer{
            padding: 22px 60px;
        }

        .footer-container{
            flex-direction: column;
        }

        .footer-section{
            flex-basis: auto;
        }

        .footer-section .twitter,
        .footer-section .facebook,
        .footer-section .instagram {
            margin: 0 10px;
        }
    }

    /* CSS for mobile */
    @media (max-width: 480px) {
        .footer{
            padding: 22px 30px;
        }

        .footer-container{
            flex-direction: column;
        }

        .footer-section{
            flex-basis: auto;
        }

        .footer-section .twitter,
        .footer-section .facebook,
        .footer-section .instagram {
            margin: 0 10px;
        }
    }



