

body{
    margin: 0;
    padding: 0;
}

.global_bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 63px;

}
.blackline{
    background-color: white;
    position: fixed;
    width: 100%;
    padding-top: 7px;
    transition: transform 0.5s ease-in-out;
}
#line{
    border-top: 1px solid black;
    transition: transform 0.5s ease-in-out;
}

.header{
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.toolsbar{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    margin-top: 15px;
    margin-bottom: 10px;
    transition: transform 0.5s ease-in-out;


}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-column-start: 2;
    grid-column-end: 10;


}
ul{
    margin: 0;
}
li{
    display: block;
    line-height: 1.5;
    font-size: 13px;
    justify-self: center;
    align-self: center;

}

.date\&time{
    font-size: .8rem;
    margin: 0;
    padding: 0;
    flex-basis: 20%;
}
.logo{
    font-family: 'Chomsky', sans-serif;
    font-size: 1.5rem;
    flex-basis: 50%;
    text-align: center;
    transition: font-size 0.5s ease-in-out;
}

.sisb{
    display: flex ;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 25%;
}

.subscribe{
    background-color: #fce803;
    border: none;
    padding:1px 45px;
    text-align: center;
    border-radius: 4px;
    transition: height 0.5s ease-in-out;

}




.top{
    color: black;
    font-size: 15px;
    height: 8px;
    margin-top: 1rem;
    margin-bottom: -1rem;
    text-align: center;

}
.sub{
    padding-top: 15px;
    font-family: "", serif;
    font-weight: lighter;
    text-align: center;
    font-size: 11px;
}
.signin{
    font-size: 13px;
    padding-right: 10px;
}

.top1{
    color:black;
    font-size: 12px;
    font-family: "", serif;
    margin-top: 1rem;
    margin-bottom: -1rem;
    font-weight: lighter;
}
.sub1{
    padding-top: 10px;
    font-family: "", serif;
    font-weight: 200;
    font-size: 12px;
    align-items: start;

}
.burgersearch{
    display:flex;
    justify-content:space-between;
    width:60px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.disappear{
    transition: opacity 0.3s ease-in-out;

}
.appear{
    display: none;
}

@media screen and (max-width: 1280px){
    #title{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1024px){
    #title{
        font-size: 1.1rem;
    }
    #press{
        display: none;
    }
    #tool{
        transform: translateY(-50px);
    }
    #black{
        height: 63px;
    }
    #line{
        transform: translateY(-47px);
    }
    .disappear{
        opacity: 0;
    }
    .appear{
        display: block;
        padding-bottom: 5px;
    }


}


@media screen and (max-width: 800px){
    #title{
        font-size: 1rem;
    }
}
@media screen and (max-width: 725px){
    #title{
        font-size: 0.8rem;
    }
    .signin{
        padding-right: 0;
    }
}





